.calculator{
    height: 100vh;
    background-color: #f2f3f5;
    width: 50vw;
    box-sizing: border-box;
}

@media only screen and (max-width: 1000px) {
    .calculator{

        width: 100vw;
    }
}

.calculator .display{
    height: 8vh;
    font-size: 2.5rem;
    /* background-color: black;
    color: white; */
    box-sizing: border-box;
    overflow-x: scroll;
    overflow-y: hidden;
}

.calculator .display p{
    text-align: right;
    /* overflow-x: auto; */
}